.git
.github
.idea
.vscode
**/__pycache__
**/*.py[cod]
.venv
venv
env
**/.ruff_cache
**/.pytest_cache
**/.mypy_cache

diag_frontend/node_modules
diag_frontend/dist
diag_backend/docs/node_modules
diag_backend/docs/.vitepress/dist
diag_backend/docs/.vitepress/cache

docs/node_modules
scripts/downloaded_docs
scripts/data
*.log
.env
.env.*
!.env.docker.example
deploy/.env

**/.DS_Store
*.md
!diag_backend/app/**
